asgiref==3.11.1
bleach==6.3.0
certifi==2026.5.20
charset-normalizer==3.4.7
Django==6.0.5
django-unfold==0.108.0
et_xmlfile==2.0.0
gunicorn==22.0.0
idna==3.16
Markdown==3.10.2
openpyxl==3.1.5
pillow==12.2.0
psycopg2-binary==2.9.12
python-decouple==3.8
requests==2.34.2
six==1.17.0
sqlparse==0.5.5
transliterate==1.10.2
tzdata==2026.2
urllib3==2.7.0
webencodings==0.5.1